body {
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	color: #000;
}

h2 {
	text-align: center;
}

h3 {
	font-weight: 400;
}


.header {
	background: #fedb00;
	color: #010101;
	padding: 58px 0 105px 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.menu {
	margin: 10px 0 0 0;
}

.menu__item {
	margin: 0 28px;
}

.menu__item a {
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.offer {
	margin-top: 117px;
}

.offer__title {
	font-size: 32px;
	margin-bottom: 8px;
}

.offer__intro {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.3em;
}

.offer__text {
	font-size: 16px;
	margin-top: 15px;
	color: #555555;
	width: 400px;
}

.offer__icons {
	
}

.icons__item {
	margin: 0 30px 0 0;
}
.icons__item a {
	color: #000;
	transition: all 0.2s ease;
}
.icons__item a:hover {
	text-decoration: none;
	color: #ff4800;
}

.fa {
	font-size: 42px;
}

.ipad {
	display: block;
	margin: 60px auto 0;
}

.features {
 	padding: 100px 0 70px 0;
}

.title {
	text-align: center;
	margin-bottom: 70px;
}

.title__main {
	font-size: 32px;
}

.title__text {
	font-size: 20px;
	width: auto;
	margin: 0 auto;
}

.feature {
	margin: 0 10px 65px 0;
}

.feature__icon {
	font-size: 50px;
	margin-right: 37px;
}

.feature__block {

}

.feature__title {

}

.feature__text {
	color: #898989;
}

.touch {
	background: #010101;
	color: #fff;
}

.yellow {
	color: #fedb00;
}

.form {
	text-align: center;
}

.form__input {
	background: #fff;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	border-radius: 5px;
	width: 625px;
	padding: 14px 5px;
	margin-right: 21px;
	border: 0;
	outline: none;
}

.form__btn {
 	background: #fedb00;
 	border: 0;
 	border-radius: 5px;
 	font-weight: 700;
 	font-family: 'PT Sans', sans-serif;
 	color: #000;
 	font-size: 16px;
 	width: 126px;
 	padding: 14px 0;
 	cursor: pointer;	
}

.footer {
	background: #010101;
}

.credits {
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 50px 0 95px 0;
	width: 184px;
	margin: 0 auto;
}


@media screen and (max-width: 992px) {
	.offer, p {
		text-align: center;
		margin: 0 auto;
	}
	.icons {
		justify-content: center;
	}
	.offer__text {
		margin-bottom: 20px;
	}
	.logo {
		margin: 0 auto;
		display: block;
		margin-bottom: 30px;
	}
	.offer__title {
		margin-top: 25px;
	}
}

@media screen and (max-width: 772px) {
	.form__input, .form__btn {
		width: 100%;
	}
}


@media screen and (max-width: 400px) {
	.offer__text {
		width: auto;
	}
	.menu {
		flex-direction: column;
		text-align: center;
	}
	.menu__item {
		margin-bottom: 10px;
	}
}


@media screen and (max-width: 344px) {
	.feature__title {
		text-align: center;
	}
	.ipad {
		width: 100%;	
	}
}